// background color
body > header > div,
body > main {
  @include background-color($background-color: $colorBackgroundHead);
}

// size image
main {
  img {
    height: auto !important;
    width: 450px;
  }
}

img:hover,
a:hover {
  cursor: pointer !important;
}
